@font-face {
  font-family: Roboto;
  src: url("assets/Roboto.ttf");
}

*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 10px;
  color: #000;
  font-family: Roboto;
}

.header {
  height: 10vh;
  font-family: Roboto;
  font-size: 5vh;
  text-align: center;
  background: linear-gradient(#64dd17, #f1f8e9);
  color: #E5184B;
  margin-bottom: 13vh;
  padding-top: 2vh;
  box-shadow: 0 0 0.4vw #64dd17;
  border-bottom: 0.146vw solid #E5184B;
}

@media (max-width: 422px) {
  .header {
    font-size: 4vh;
  }
}

@media (max-width: 299px) {
  .header {
    font-size: 3.5vh;
  }
}

.main {
  width: 70vw;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.1vw;
  row-gap: 2.61vh;
}

@media (max-width: 374px) {
  .main {
    justify-content: center;
  }
}

.random-card {
  position: relative;
  width: 21vw;
  height: 13.0548vh;
  background: linear-gradient(#64dd17, #f1f8e9);
  padding: 1rem;
  border: 2px solid #E5184B;
  border-radius: 10px;
  box-shadow: 0 0 0.439vw #64dd17;
  cursor: pointer;
}

.random-card:hover {
  background: #64dd17;
}
 
@media (max-width: 514px) {
  .random-card {
    width: 31vw;
  }
}

@media (max-width: 374px) {
  .random-card {
    width: 42vw;
  }
}

.random-card__type {
  font-family: Roboto;
  color: #E5184B;
  font-size: 2.61vw;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

@media (max-width: 674px) {
  .random-card__type {
    font-size: 1.5rem;
  }
}

.random-card__icon {
  font-size: 3rem;
}

.date-header {
  margin-bottom: 2.61vh;
}

.control-panel {
  display: flex;
  width: 88vw;
  justify-content: space-between;
  margin: 0 auto 9.8vh;
}

.control-btn {
  width: 11vw;
  height: 6.5vh;
  background: linear-gradient(#601EAA, #A174D4);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

@media (max-width: 1099px) {
  .control-btn {
    width: 15vw;
  }
}

@media (max-width: 798px) {
  .control-btn {
    width: 20vw;
  }
}

@media (max-width: 598px) {
  .control-btn {
    width: 25vw;
  }
}

@media (max-width: 749px) {
  .control-btn {
    width: 30vw;
  }
}

@media (max-width: 399px) {
  .control-btn {
    width: 35vw;
  }
}

@media (max-width: 342px) {
  .control-btn {
    width: 40vw;
  }
}

@media (max-width: 249px) {
  .control-btn {
    font-size: 1rem;
  }
}

@media (min-height: 1200px) {
  .control-btn {
    font-size: 2rem;
  }
}

.control-btn:hover {
  background: #601EAA;
}

.date-main {
  width: 88vw;  
  margin: 0 auto;
}

.result {
  box-shadow: 0 0 0.439vw #bdbdbd;
  font-size: 2rem;
  padding: 0.65vh 0.8vh;
  font-family: Roboto;
  color: #601EAA;
  font-weight: 600;
  overflow: auto;
  line-height: 120%;
}

.date-result {
  max-width: 88vw;
  min-width: 29vw;
  width: min-content;
  height: 16vh;
  margin: 0 auto 7.5vh;
  
}

@media (max-width: 1126px) {
  .date-result {
    min-width: 35vw;
  }
}

@media (max-width: 898px) {
  .date-result {
    min-width: 40vw;
  }
}

@media (max-width: 785px) {
  .date-result {
    min-width: 45vw;
  }
}

@media (max-width: 698px) {
  .date-result {
    min-width: 55vw;
  }
}

@media (max-width: 571px) {
  .date-result {
    min-width: 70vw;
  }
}

@media (max-width: 449px) {
  .date-result {
    min-width: 90vw;
  }
}

@media (max-width: 349px) {
  .date-result {
    font-size: 1.5rem;
  }
}

.date-buttons {
  display: flex;
  width: 18vw;
  height: 40vh;
  flex-wrap: wrap;
  column-gap: 3.4vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .date-buttons {
    width: 36vw;
    column-gap: 6.8vw;
  }
}

@media (max-width: 524px) {
  .date-buttons {
    width: 72vw;
    column-gap: 13.6vw;
  }
}

.btn {
  width: 7.3vw;
  height: 16vh;
  background: linear-gradient(#64dd17, #f1f8e9);
  border: 0.15vw solid #E5184B;
  border-radius: 0.73vw;
  box-shadow: 0 0 0.439vw #64dd17;
  cursor: pointer;
  color: #E5184B;
  font-weight: 600;
  font-size: 1.7rem;
}

@media (max-width: 1024px) {
  .btn {
    width: 14.6vw
  }
}

@media (max-width: 524px) {
  .btn {
    width: 29.2vw
  }
}

.btn:hover {
  background: #64dd17;
}

.password-header {
  margin-bottom: 3.2vh;
}

.password-main {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: 0 auto;
  border: 0.0732vw solid #64dd17;
  border-radius: 1.098vw;
  padding: 1rem;
}

@media (max-width: 1249px) {
  .password-main {
    width: 60vw;
  }
}

@media (max-width: 1024px) {
  .password-main {
    width: 70vw;
  }
}

@media (max-width: 874px) {
  .password-main {
    width: 80vw;
  }
}

@media (max-width: 774px) {
  .password-main {
    width: 95vw;
  }
}

@media (max-width: 394px) {
  .password-main {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-height: 434px) {
  .password-main {
    height: 40vh;
  }
}

@media (max-height: 314px) {
  .password-main {
    height: 45vh;
  }
}

@media (max-width: 394px) and (max-height: 434px) {
  .password-main {
    height: 70vh;
  }
}

@media (max-width: 240px) and (max-height: 320px) {
  .password-main {
    justify-content: flex-end;
    row-gap: 1.5rem;
  }
}

.password-checkboxes {
  width: 30%;
}

@media (max-width: 614px) {
  .password-checkboxes {
    width: 40%;
  }
}

@media (max-width: 466px) {
  .password-checkboxes {
    width: 50%;
  }
}

@media (max-width: 394px) {
  .password-checkboxes {
    width: 70%;
  }
}

@media (max-width: 276px) {
  .password-checkboxes {
    width: 85%;
  }
}

@media (max-height: 434px) {
  .password-checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 240px) and (max-height: 320px) {
  .password-checkboxes {
    height: 40vh;
  }
}


.password-label {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
}

.password-label > span {
  font-size: 1.5rem;
  font-family: Roboto;
  cursor: pointer;
}

.password-custom-label {
  width: 40px;
  height: 20px;
  background-color: gray;
  border-radius: 10px;
  transition: all 250ms;
  cursor: pointer;
}

input:checked + .password-label > .password-custom-label {
  background-color:#64dd17;
}

input:checked + .password-label > .password-custom-label > .password-custom-tumbler {
  margin-left: 18px;
}

input[type="text"] {
  border: 1px solid #64dd17;
  border-radius: 0.366vw;
  width: 22%;
  height: 4vh;
  font-size: 1.5rem;
  padding: 0.32vh 0.146vw;
}

@media (max-width: 849px) {
  input[type="text"] {
    width: 30%;
  }
}

@media (max-height: 364px) {
  input[type="text"] {
    height: 6vh;
  }
}

.password-custom-tumbler {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 100%;
  margin-left: 2px;
  transition: all 250ms;
}

.password-resultblock {
  text-align: center;
  width: 58%;
}

@media (max-width: 614px) {
  .password-resultblock {
    width: 45%;
  }
}

@media (max-width: 466px) {
  .password-resultblock {
    width: 35%;
  }
}

@media (max-width: 394px) {
  .password-resultblock {
    width: 80%;

  }
}
.password-result {
  margin-bottom: 3.2vh;
  width: 100%;
  height: 16vh;
}

@media (max-width: 400px) {
  .password-result {
    font-size: 1.5rem;
  }
}

.password-btn {
  height: 6.4vh;
  width: 38%;
}

@media (max-width: 649px) {
  .password-btn {
    width: 60%;
  }
}

@media (max-width: 534px) {
  .password-btn {
    width: 95%;
  }
}

@media (max-width: 444px) {
  .password-btn {
    font-size: 1.5rem;
  }
}

.numbers-main {
  display: flex;
  width: 26%; /*350px*/
  margin: 0 auto;
  justify-content: space-between;
}

@media (max-width: 1239px) {
  .numbers-main {
    width: 35%;
  }
}

@media (max-width: 899px) {
  .numbers-main {
    width: 40%;
  }
}

@media (max-width: 794px) {
  .numbers-main {
    width: 50%;
  }
}

@media (max-width: 634px) {
  .numbers-main {
    width: 60%;
  }
}

@media (max-width: 524px) {
  .numbers-main {
    width: 80%;
  }
}

@media (max-width: 399px) {
  .numbers-main {
    width: 95%;
  }
}


.numbers-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.6vh;
  align-items: center;
  width: 40%;
}

@media (max-width: 334px) {
  .numbers-inputs {
    width: 45%;
  }
}

.numbers-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.numbers-inputs span {
  font-size: 1.5rem;
}

@media (max-width: 299px) {
  .numbers-inputs span {
    font-size: 1.3rem;
  }
}

@media (min-height: 1200px) {
  .numbers-inputs span {
    font-size: 1.8rem;
  }
}

.numbers-inputs input {
  width: 36%;
  padding-left: 5px;
}

@media (max-height: 399px) {
  .numbers-inputs input {
    height: 10vh;
  }
}

@media (max-width: 274px) {
  .numbers-inputs input {
    font-size: 1.2rem;
  }
}

@media (min-height: 1200px) {
  .numbers-inputs input {
    font-size: 1.8rem;
  }
}

.numbers-resultblock {
  height: 25.6vh;
  width: 43%;
}

@media (max-width: 324px) {
  .numbers-resultblock {
    width: 50%;
  }
}

.numbers-result {
  height: 16vh;
  margin-bottom: 1.6vh;
  text-align: center;
  padding-top: 6.4vh;
  font-size: 2.5rem;
}

.numbers-btn {
  height: 8vh;
  width: 100%;
}

@media (max-width: 274px) {
  .numbers-btn {
    font-size: 1.3rem;
  }
}

.letters-main {
  width: 29%; /*400px*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1354px) {
  .letters-main {
    width: 35%;
  }
}

@media (max-width: 1121px) {
  .letters-main {
    width: 40%;
  }
}

@media (max-width: 981px) {
  .letters-main {
    width: 45%;
  }
}

@media (max-width: 875px) {
  .letters-main {
    width: 55%;
  }
}

@media (max-width: 713px) {
  .letters-main {
    width: 65%;
  }
}

@media (max-width: 604px) {
  .letters-main {
    width: 80%;
  }
}

@media (max-width: 490px) {
  .letters-main {
    width: 95%;
  }
}

@media (min-height: 663px) {
  .letters-main {
    width: 35%;
  }
}

@media (max-width: 1024px) and (min-height: 736px) {
  .letters-main {
    width: 60%;
  }
}

@media (max-width: 712px) and (min-height: 720px) {
  .letters-main {
    width: 90%;
  }
}

@media (max-width: 414px) and (min-height: 667px) {
  .letters-main {
    width: 98%;
  }
}

.letters-inputs {
  background-color: gray;
  width: 70%; /*280px*/
  display: flex;
  justify-content: center;
  margin: 0 auto 3.2vh;
  height: 2.5rem;
  align-items: center;
  border-radius: 0.36vw
}

@media (max-width: 413px) {
  .letters-inputs {
    width: 95%;
    border-radius: 2vw;
  }
}

@media (width: 414px) and (height: 896px) {
  .letters-inputs {
    width: 75%;
  }
}

.letters-label {
  cursor: pointer;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 120%;
  background-color: gray;
  border-radius: 0.36vw;
  padding: 0 1.6vh;
}

@media (max-width: 413px) {
  .letters-label {
    border-radius: 2vw;
  }
}

@media (max-width: 304px) {
  .letters-label {
    font-size: 1rem;
    line-height: 200%;
  }
}

.letters-input:checked + .letters-label {
  background-color: white;
  cursor:context-menu;
} 

.letters-result {
  height: 7.3vw;
  width: 7.3vw;
  margin: 0 auto 3.2vh;
  text-align: center;
  padding-top: 2.9vw;
  font-size: 2.5rem;
}

@media (max-width: 761px) {
  .letters-result {
    font-size: 2rem;
  }
}

@media (max-width: 486px) {
  .letters-result {
    width: 10vw;
    height: 10vw;
  }
}

@media (max-width: 304px) {
  .letters-result {
    width: 15vw;
    height: 15vw;
  }
}

@media (max-width: 623px) {
  .letters-result {
    font-size: 1.5rem;
  }
}

@media (max-width: 820px) and (min-height: 1024px) {
  .letters-result {
    padding-top: 8vw;
    width: 20vw;
    height: 20vw;
  }
}

.letters-btn {
  width: 48%; /*200px*/
  height: 8vh;
  display: block;
  margin: 0 auto;
}

@media (max-width: 289px) {
  .letters-btn {
    width: 60%;
  }
}