@font-face {
  font-family: Roboto;
  src: url("assets/Roboto.ttf");
}

*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 10px;
  color: #000;
}

.header {
  height: 10vh;
  font-family: Roboto;
  font-size: 5vh;
  text-align: center;
  background: linear-gradient(#64dd17, #f1f8e9);
  color: #E5184B;
  margin-bottom: 13vh;
  padding-top: 2vh;
  box-shadow: 0 0 0.4vw #64dd17;
  border-bottom: 0.146vw solid #E5184B;
}

@media (max-width: 422px) {
  .header {
    font-size: 4vh;
  }
}

@media (max-width: 299px) {
  .header {
    font-size: 3.5vh;
  }
}

.main {
  width: 70vw;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.1vw;
  row-gap: 2.61vh;
}

@media (max-width: 374px) {
  .main {
    justify-content: center;
  }
}

.random-card {
  position: relative;
  width: 21vw;
  height: 13.0548vh;
  background: linear-gradient(#64dd17, #f1f8e9);
  padding: 1rem;
  border: 2px solid #E5184B;
  border-radius: 10px;
  box-shadow: 0 0 0.439vw #64dd17;
  cursor: pointer;
}

.random-card:hover {
  background: #64dd17;
}
 
@media (max-width: 514px) {
  .random-card {
    width: 31vw;
  }
}

@media (max-width: 374px) {
  .random-card {
    width: 42vw;
  }
}

.random-card__type {
  font-family: Roboto;
  color: #E5184B;
  font-size: 2.61vw;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

@media (max-width: 674px) {
  .random-card__type {
    font-size: 1.5rem;
  }
}

.random-card__icon {
  font-size: 3rem;
}

.date-header {
  margin-bottom: 2.61vh;
}

.control-panel {
  display: flex;
  width: 88vw;
  justify-content: space-between;
  margin: 0 auto 9.8vh;
}

.control-btn {
  width: 11vw;
  height: 6.5vh;
  background: linear-gradient(#601EAA, #A174D4);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

@media (max-width: 1099px) {
  .control-btn {
    width: 15vw;
  }
}

@media (max-width: 798px) {
  .control-btn {
    width: 20vw;
  }
}

@media (max-width: 598px) {
  .control-btn {
    width: 25vw;
  }
}

@media (max-width: 749px) {
  .control-btn {
    width: 30vw;
  }
}

@media (max-width: 399px) {
  .control-btn {
    width: 35vw;
  }
}

@media (max-width: 342px) {
  .control-btn {
    width: 40vw;
  }
}

@media (max-width: 249px) {
  .control-btn {
    font-size: 1rem;
  }
}

.control-btn:hover {
  background: #601EAA;
}

.date-main {
  width: 88vw;  
  margin: 0 auto;
}

.result {
  max-width: 88vw;
  min-width: 29vw;
  width: min-content;
  height: 16vh;
  margin: 0 auto 7.5vh;
  box-shadow: 0 0 0.439vw #bdbdbd;
  font-size: 2rem;
  padding: 0.65vh 0.8vh;
  font-family: Roboto;
  color: #601EAA;
  font-weight: 600;
  overflow: auto;
  line-height: 120%;
}

@media (max-width: 1126px) {
  .result {
    min-width: 35vw;
  }
}

@media (max-width: 898px) {
  .result {
    min-width: 40vw;
  }
}

@media (max-width: 785px) {
  .result {
    min-width: 45vw;
  }
}

@media (max-width: 698px) {
  .result {
    min-width: 55vw;
  }
}

@media (max-width: 571px) {
  .result {
    min-width: 70vw;
  }
}

@media (max-width: 449px) {
  .result {
    min-width: 90vw;
  }
}

@media (max-width: 349px) {
  .result {
    font-size: 1.5rem;
  }
}

.date-buttons {
  display: flex;
  width: 18vw;
  height: 40vh;
  flex-wrap: wrap;
  column-gap: 3.4vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .date-buttons {
    width: 36vw;
    column-gap: 6.8vw;
  }
}

@media (max-width: 524px) {
  .date-buttons {
    width: 72vw;
    column-gap: 13.6vw;
  }
}

.btn {
  width: 7.3vw;
  height: 16vh;
  background: linear-gradient(#64dd17, #f1f8e9);
  border: 0.15vw solid #E5184B;
  border-radius: 0.73vw;
  box-shadow: 0 0 0.439vw #64dd17;
  cursor: pointer;
  color: #E5184B;
  font-weight: 600;
  font-size: 1.7rem;
}

@media (max-width: 1024px) {
  .btn {
    width: 14.6vw
  }
}

@media (max-width: 524px) {
  .btn {
    width: 29.2vw
  }
}

.btn:hover {
  background: #64dd17;
}

.password-header {
  margin-bottom: 20px;
}

.password-main {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: 0 auto;
  border: 1px solid #64dd17;
  border-radius: 15px;
  padding: 1rem;
}

.password-checkboxes {
  width: 15vw;
}

.password-label {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
}

.password-label > span {
  font-size: 1.5rem;
  font-family: Roboto;
  cursor: pointer;
}

.password-custom-label {
  width: 40px;
  height: 20px;
  background-color: gray;
  border-radius: 10px;
  transition: all 250ms;
  cursor: pointer;
}

input:checked + .password-label > .password-custom-label {
  background-color:#64dd17;
}

input:checked + .password-label > .password-custom-label > .password-custom-tumbler {
  margin-left: 18px;
}

input[type="text"] {
  border: 1px solid #64dd17;
  border-radius: 5px;
  width: 45px;
  height: 25px;
  font-size: 15px;
  padding: 2px;
}

.password-custom-tumbler {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 100%;
  margin-left: 2px;
  transition: all 250ms;
}

.password-resultblock {
  text-align: center;
}

.password-result {
  margin-bottom: 20px;
  width: 29vw;
}

.password-btn {
  height: 40px;
  width: 150px;
}